
$bodyBg: #fff;
$headerImage: "../img/m-h-day.jpg";
$landing_color: #2c2f3c;
$awesomeBg: #14a0c7;
$btnBgColor: #699900;
$sectionCardMargin: 25px;
$sectionCardBg: #21232e;
$sectionCardText: #c0c3ce;

$section: (
 CardBg          : $sectionCardBg ,
 CardText        :$sectionCardText
);

$banerGradient1: #649410;
$banerGradient2: #5a8a36;
$banerGradient3: #4b7a6d;
$banerGradient4: #3e6d9c;
$banerGradient5: #2e5cd3;
$diferentFont: 'Hind', sans-serif;
