
$bodyBg: #21232e;
$headerImage: "../img/m-h-night.jpg";
$landing_color: #fff;
$awesomeBg: #ff4e33;
$btnBgColor: #e3ac00;
$sectionCardMargin: 25px;
$sectionCardBg: #3b3f50;
$sectionCardText: #d1cccd;

$section: (
 CardBg          :$sectionCardBg ,
 CardText        :$sectionCardText
);


$banerGradient1: #dda206;
$banerGradient2: #cc8817;
$banerGradient3: #b8682b;
$banerGradient4: #aa523a;
$banerGradient5: #96314f;
$diferentFont: 'Fresca', sans-serif;
